# Директории и файлы IntelliJ IDEA
.idea/
*.iml

# Компилируемые файлы
out/
target/
bin/

# Логи
*.log



# Артефакты сборки
*.jar
*.war
*.ear

# Системные файлы
.DS_Store
Thumbs.db

# Бинарные файлы библиотек
*.dll
*.exe
*.so
*.o
ore